<div class="{{ include.type | default: 'list' }}__item">
    <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
      {% if include.type == "grid" and teaser %}
        <div class="archive__item-teaser">
          <img src="{{ teaser | relative_url }}" alt="">
        </div>
      {% endif %}
      <h4 class="archive__item-title no_toc" itemprop="headline">
        {% if post.link %}
          <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
        {% else %}
          <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
        {% endif %}
      </h4>
      <!-- {% include page__meta.html type=include.type %} -->
      {% if post.has_excerpt == true %}
    
        <div style="display: flex; margin-top: 10px;  height: 7em;">
            <img src="/assets/images/quadrotors.jpeg" alt="Smiley face" width="30%">
            <div style="margin-left: 10px; font-size: 0.8em; overflow: hidden; margin-top: 0.1em;">
                {{ post.excerpt | markdownify | strip_html | truncate: 140 }}
            </div>
        </div>
      {% endif %}
      
      <!-- {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %} -->
    </article>
  </div>